div#page {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    padding: 1em;
    display: none;
}

    .back-to-top:hover {
        text-decoration: none;
    }

div#toc ul {
    list-style-type: none;
}
